<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Blog</display-name>
  <welcome-file-list>
    <welcome-file>first.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.java.web.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.java.web.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/myBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogEditServlet</display-name>
    <servlet-name>BlogEditServlet</servlet-name>
    <servlet-class>com.java.web.BlogEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogEditServlet</servlet-name>
    <url-pattern>/BlogEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.java.web.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.java.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiggServlet</display-name>
    <servlet-name>DiggServlet</servlet-name>
    <servlet-class>com.java.web.DiggServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiggServlet</servlet-name>
    <url-pattern>/Digg</url-pattern>
  </servlet-mapping>
</web-app>